/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

/*@import "variables";*/

/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansRegular.eot");
  src: font-url("MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansRegular.woff") format("woff"),
  font-url("MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansBold.eot");
  src: font-url("MuseoSansBold.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansBold.woff") format("woff"),
  font-url("MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansLight.eot");
  src: font-url("MuseoSansLight.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansLight.woff") format("woff"),
  font-url("MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansMedium.eot");
  src: font-url("MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansMedium.woff") format("woff"),
  font-url("MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansBlack.eot");
  src: font-url("MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansBlack.woff") format("woff"),
  font-url("MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

html {
  height: 100%;
  font-family: 'MuseoSans', sans-serif;
}

a:hover {
  background-color: transparent;
}

a:visited{
	color: inherit;
}


body {
  background: white;
  color: black;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'MuseoSans', sans-serif;
  	@media(min-width: 768px){
    font-size: 14px;
  	}
}

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 100%
);


.btn{
	border-radius: 1.25rem;
	font-weight: 100;
	color: white;
	background-color: #1BB645;
	&.grey{
		background-color: grey;
	}
}
a.btn{
		color: white;
	}

.btn:hover{
	color: white;
	border-radius: 1.25rem;
	font-weight: 100;
	color: white;
	background-color: rgba(27, 182, 69, 0.71);
	}

.menu_wrap{
	background-color: white;
	width: 100%;
	text-align: center;
	@media(min-width: 768px){
    	width: 100%;
  	}
}



.want_more_wrap{
	margin-top: 20px;
	text-align: center;
	color: #ec971f;
	font-weight: 700;
}

.top_logo{
	max-width: 90px;
	vertical-align: middle;

	@media(min-width: 833px){
		max-width: 100px;
    	padding-top: 15px;
    	padding-bottom: 6px;
    	max-width: 100px;
  	}
}

.subjects{
	display: inline-block;
	font-weight: 900;
	padding-top: 14px;
	ul{
		margin: 0;
		li{
			display: inline-block;
			margin-right: 20px;
			display: none;
			@media (min-width: 833px) {
      			display: inline-block;
    		}
		}
	}
	@media (min-width: 833px) {
      padding-top: 13px;
      display: inherit;
    }
}

.logo_wrap{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
    height: 90%;
    vertical-align: middle;
    z-index: 30;
    margin-top: -42px;
   /* position: absolute;
    	display: table-cell;
		text-align: center;*/
    @media (min-width: 833px) {
		height: 100%;
		/*position: inherit;*/
		margin-top: -48px;
    }

}

.center_logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
    max-width: 100px;
    vertical-align: middle;
}



.user_wrap{
	display: inline-block;
	font-weight: 900;
	float: right;
	margin-top: -26px;
	@media (min-width: 833px) {
      padding-top: 20px;
      display: inherit;
      margin-top: -55px;
    }
    ul{
    	li.avatar{
    		border-right: none;
    		margin-right: -25px;
    		display: inline-block;
    		margin-bottom: -6px;
    		@media (min-width: 833px) {
		      margin-right: 10px;
		    }
    	}

    	li.fb{
    		border-right: none;
    		margin-left: 10px;
    		display: inline-block;
    		margin-bottom: -6px;
    	}

    	li.name{
    		a{color: black;}
    		padding-right: 20px;
    		border-right: 1px solid #ddd;
    		display: none;
    		@media (min-width: 1200px) {
      			display: inline-block;
    		}
    	}
    	li.out{
    		color: #ccc;
    		font-weight: 500;
    		border-right: none;
    		padding-left: 20px;
    		display: none;
    		@media (min-width: 833px) {
      			display: inline-block;
    		}
    	}
    }
}

.users_wrap{
	margin-bottom: 100px;
}


.avatar{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-top: -6px;
	@media (min-width: 833px) {
      	width: 40px;
		height: 40px;
    }
}

.avatar_card{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
	@media (min-width: 833px) {
      	width: 150px;
		height: 150px;
    }
}

.user_card_name{
	font-weight: 900;
	font-size: 16px;
}

.user_card_job{
	font-weight: 300;
	font-size: 13px;
}

.user_card_wrap{
	border: 1px #ead0aa solid;
	border-radius: 5%;
	padding-bottom: 20px;
}


.fb-small{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-top: -6px;
}

.header_wrap {
	background-color: #6499F1;
	max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
	height: 300px;
    @media(min-width: 768px){
    	height: 400px;
		width: 100%;
  	}

}

.header_wrap_small {
	background-color: #E8940B;
	max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
	min-height: 200px;
    @media(min-width: 768px){
    	height: 200px;
		width: 100%;
  	}
  	&.blue{
  		background-color: #4A90E2;
  		.text_wrap{
  			padding-top: 30px;
  		}
  	}
}

.text_wrap{
	max-width: 500px;
    padding-top: 50px;
    margin: 0 auto;
    color: white;
    text-align: center;
    @media(min-width: 768px){
    	padding-top: 65px;
  	}

}

.big_title{
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	@media(min-width: 768px){
    	font-size: 30px;
  	}
  	&.article{
  		font-size: 22px;
  	}
}

.section_header_title{
	/*padding-top: 100px;*/
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	padding-bottom: 20px;
	@media(min-width: 768px){
    	font-size: 30px;
  	}

	
}

.medium_decription{
	color: white;
	font-weight: 300;
	font-size: 13px;
	line-height: 1.3;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	@media(min-width: 768px){
    	font-size: 16px;
  	}
}

.sections_wrap{
	margin-top: 45px;
	text-align: center;
}

.small_sections_wrap{
	margin-top: 45px;
	text-align: center;
	position: relative;
	z-index: 1;
	&.main_page{
		margin-top: 0px;
	}
}

.more_link{
	color: #ec971f !important;
}

.more_link_main_page{
	color: #ec971f !important;
}

.back_wrap{
	text-transform: uppercase;
	font-size: 12px;
	padding-bottom: 10px;
	padding-right: 5px;
	margin: 0 auto;
	a{
	color: #f7f4f4;
	font-weight: 100;	
	}
	img{
		margin-right: 10px;
	}
	&.knowledge{
		font-weight: 100;
		color: rgba(221, 221, 221, 0.44);
	}
	
}

.back_icon{
	max-width: 12px;
}

/*.image_back{
	max-width: 100%;
	height: auto;
}*/

.main_section_name{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eee;
	text-transform: uppercase;
	font-weight: 700;

	/*background-image: url('micro');
	background-repeat: no-repeat;
	background-position: center;*/
	border-radius: 10px;
	a{
		color: white;
	}
	@media (min-width: 768px) {
	
	}
	/*color: #6499F1;*/
}

.child_section_name{
	font-weight: 700;
	padding-top: 20px;
	a{
		color: #373a3c;
	}
}

.child_wrap{
	background-color: #f7f4f4;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.section_main_wrap{
	position: relative;
  	overflow: hidden;
  	height: 100px;
  	margin-bottom: 20px;
  	&.choose_favor{
  		margin-bottom: 20px;
  	}
}


.section_image{
	border-radius: 10px;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
}

/*.section_image_wrap{
	&.choose_favor{
		margin-bottom: 20px;
	}
}
*/
.section_name{
	a{
		color: white;
		text-transform: uppercase;
		font-weight: 100;
	}
	position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-width: 768px) {
      top: 50%;
    }
    &.choose_favor{
    	a{
    		color: white!important;
    	}
    }
}

.main_body{
	/*padding-top: 6px;
	@media (min-width: 768px) {
      padding-top: 65px;
    }*/
	
}

.l_sidebar{
	background-color: #5cb85c;
	width: 100%;
	min-height: 240px;
	display: inline-block;
	@media (min-width: 768px) {
      width: 25%;
      height: 100vh;
    }
    &.choose_favors{
    	background-color: #f0ad4e;
		width: 100%;
		min-height: 240px;
		display: inline-block;
		@media (min-width: 768px) {
	      width: 20%;
	      height: 100vh;
	    }
    }
}

.r_main_wrap{
	display: inline-block;
	background-color: #eee;
	width: 100%;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
	float: right;
	@media (min-width: 768px) {
      width: 75%;
    }
    &.choose_favors{
    	display: inline-block;
		background-color: #eee;
		width: 100%;
		display: flex;
	  	flex-direction: column;
	  	min-height: 100vh;
		float: right;
		@media (min-width: 768px) {
	      width: 80%;
	    }
    }
}

.button_add_layout{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.little_description{
	
	color: rgba(129, 138, 145, 0.82);
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 500px;
	border-left: 1px solid #ddd;
}


.text_block{
	text-align: center;
	margin-top: 20px;
	@media(min-width: 768px){
    	margin-top: 60px;
  	}
}

.back_wrap_layout{
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 26px;
	padding-right: 5px;
	margin: 0 auto;
	a{
	color: #f7f4f4;
	font-weight: 100;	
	}
	img{
		margin-right: 7px;
		@media(min-width: 768px){
    		margin-right: 10px;
  		}
	}
	@media(min-width: 768px){
    	font-size: 18px;
  	}
	
}

.input-name{
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	resize: none;
}

.input-profession{
	background-color: white;
	border: none;
	color: black;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	resize: none;
}

.input-description{
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 100;
	font-size: 14px;
	min-height: 100px;
	text-align: center;
	resize: none;
	@media(min-width: 768px){
    	min-height: 300px;
  	}
}

.input-name::-webkit-input-placeholder { color: white;}
.input-name:-moz-placeholder { color: white; }
.input-name::-moz-placeholder { color: white; }
.input-name:-ms-input-placeholder { color: white; }

.input-name:focus{
	background-color: transparent;
	color: white;
}

.input-description::-webkit-input-placeholder { color: white; }
.input-description:-moz-placeholder { color: white; }
.input-description::-moz-placeholder { color: white; }
.input-description:-ms-input-placeholder { color: white; }

.input-description:focus{
	background-color: transparent;
	color: white;
}

.wysihtml5-toolbar{
	max-width: 700px;
	.btn{
		border-radius: 1.25rem;
		font-weight: 100!important;
		color: white;
		background-color: #ccc;
		font-size: 12px;
		vertical-align: middle;
	}
	.current-font{
		color: white;
		font-size: 12px;
	}
}

ul.wysihtml5-toolbar li a[title="Insert image"] { 
	background-image: image-url("camera.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;

}

ul.wysihtml5-toolbar li a[title="Unordered list"] { 
	background-image: image-url("order.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;

}

ul.wysihtml5-toolbar li a[title="Ordered list"] { 
	background-image: image-url("numbered.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;

}


ul.wysihtml5-toolbar li a[title="Unordered list"].btn.wysihtml5-command-active { 
	background-image: image-url("order.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;

}

ul.wysihtml5-toolbar li a[title="Ordered list"].btn.wysihtml5-command-active { 
	background-image: image-url("numbered.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;

}

ul.wysihtml5-toolbar li a[title="Insert link"].btn.wysihtml5-command-active { 
	background-image: image-url("link.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;
	margin-left: -5px;
	margin-right: 5px;

}

ul.wysihtml5-toolbar li a[title="Insert link"] { 
	background-image: image-url("link.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;
	margin-left: -5px;
	margin-right: 5px;

}

ul.wysihtml5-toolbar li a[title="Outdent"] { 
	display: none;
}

ul.wysihtml5-toolbar li a[title="Indent"] { 
	display: none;
}


ul.wysihtml5-toolbar a[data-wysihtml5-command-value="blockquote"]{ 
	background-image: image-url("quotes.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;
	margin-right: 5px;
	
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="blockquote"].btn.wysihtml5-command-active{ 
	background-image: image-url("quotes.png");
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;
	
}

ul.dropdown-menu{
	padding: 20px;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h1"]{ 
	color: #6499F1;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="p"]{ 
	color: #6499F1;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h2"]{ 
	color: #6499F1;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h3"]{ 
	color: #6499F1;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h4"]{ 
	display: none;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h5"]{ 
	display: none;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command-value="h6"]{ 
	display: none;
}

.glyphicon-quote:before{
	display: none;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
	margin-right: 10px;
	border-radius: 50px;
	height: 34px;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	color: grey;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
	margin-right: 10px;
	border-radius: 50px;
	height: 34px;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	color: grey;

}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){
	display: none;
}

ul.wysihtml5-toolbar a[data-toggle="dropdown"].btn.wysihtml5-command-active{ 
	
	background-size: 50%;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:center;
	
}

.wysihtml5-toolbar .btn{
	background-color: transparent;
	color: grey;
}

.wysihtml5-toolbar .current-font{
	color: grey;
}


ul.wysihtml5-toolbar li.dropdown { 
margin-right: 10px;
	border-radius: 50px;
	height: 34px;
	border: 1px solid rgba(128, 128, 128, 0.71);
	background-color: transparent;
	color: grey; }

.layout_body{
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 10px;
	max-width: 700px;
	overflow: auto;
	@media(min-width: 768px){
    	margin-top: 52px;
    	margin-left: 50px;
    	margin-right: 50px;
  	}
  	&.choose_favors{
  		max-width: 1000px;	
  	}
}

.input-content{
	background-color: transparent;
	border: none;
	color: #373a3c;
	font-weight: 300!important;
	font-size: 16px;
	max-height: 50px;
	min-height: 600px;
}

.input-content::-webkit-input-placeholder { color: #373a3c;}
.input-content:-moz-placeholder { color: #373a3c; }
.input-content::-moz-placeholder { color: #373a3c; }
.input-content:-ms-input-placeholder { color: #373a3c; }

.input-content:focus{
	background-color: transparent;
	color: #373a3c;
}


.input-heading{
	background-color: transparent;
	border: none;
	color: #373a3c;
	font-weight: 900;
	font-size: 24px;
	min-height: 20px!important;
	resize: none;
	
}

.input-heading::-webkit-input-placeholder { color: #373a3c;}
.input-heading:-moz-placeholder { color: #373a3c; }
.input-heading::-moz-placeholder { color: #373a3c; }
.input-heading:-ms-input-placeholder { color: #373a3c; }

.input-heading:focus{
	background-color: transparent;
	color: #373a3c;
}

.wysihtml5.optional.input-content.form-control.wysihtml5-editor.placeholder{
	font-weight: 100!important;
	font-size: 16px!important;
}

.layout_name_holder{
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	resize: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 30px;
}
.edit_icon{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	@media(min-width: 768px){
    	width: 30px;
		height: 30px;
		margin-left: 20px;
  	}
}

.edit_button{
	float: right;
}

.layout_description_holder{
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 100;
	font-size: 14px;
	text-align: center;
	resize: none;
	min-height: 100px;
	padding-bottom: 60px;
	padding-right: 15px;
	padding-left: 15px;
	@media(min-width: 768px){
    	min-height: 300px;
    	font-size: 14px;
  	}
}

.layout_heading_holder{
	background-color: transparent;
	border: none;
	color: #373a3c;
	font-weight: 900;
	font-size: 24px;
	resize: none;
	margin-bottom: 20px;
	line-height: 1.2;
	@media(min-width: 768px){
		margin-bottom: 20px; 	
  	}
}

.layout_content_holder{
	p{
		font-weight: 500;
		font-size: 16px!important;
		font-family: "MuseoSans"!important;

	}
	b{
		font-weight: 700;
	}
	background-color: transparent;
	border: none;
	color: #373a3c;
	font-weight: 300!important;
	font-size: 15px!important;
	max-height: 50px;
	resize: none;
	min-height: 600px;
	a{
		color: #6499F1;
	}
	ol{
		li{
			color: black;
			font-family: "MuseoSans"!important;
			font-size: 15px!important;

		}
	}
	ul{
		li{
			color: black;
			font-family: "MuseoSans"!important;
			font-size: 15px!important;

		}
	}
	@media(min-width: 768px){
    	font-size: 16px!important;
  	}
  	&.choose_favor{
  		a{
  			color: white;
  		}
  	}

}

.layout_card_wrap{
	border-bottom: 1px solid #ddd; 
	position: relative;
  	overflow: hidden;
  	min-height: 100px;
  	margin-top: 10px;
  	padding: 10px;
}

.layout_card_description{
	color: grey;
}

.layouts_grid{
	margin-top: 35px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.layout_card_name{
	margin-top: 10px;
	a{
		color: black;
		font-weight: 700;
		font-size: 17px;
		line-height: 1;

	}
}

.input_layout_name{
	margin-top: 10px;
	@media(min-width: 768px){
    	margin-top: 31px;
  	}
}


.alert {
	color: #d9534f;
	padding-top: 42px;
	position: inherit;
	text-align: center;
	position: fixed;
	top: 0;
    left: 0;
	width: 100%;
    text-align: center;
    height: 45px;
	z-index: -1;
	display: none;
}

.notice {
	color: white;
	position: inherit;
	text-align: center;
	position: fixed;
	top: 72px;
    left: 0;
	width: 100%;
    text-align: center;
    height: 45px;
	z-index: 5;
	display: none;
}

.fb{
	max-width: 200px;
}

.name_time_holder{
	ul{
		li{
			display: inline-block;
			float: left;
		}
	}
}

.avatar-wrap {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      @media(min-width: 768px){
        margin-right: 18px;
      }
    }

 .author__description {
      display: inline-block;
      vertical-align: middle;
      max-width: 72%;
      margin-top: 0;
      text-align: left;
      margin-bottom: 10px;
    }
    .author__name {
      font-weight: 700;
      font-size: 14px;
      color: #373a3c;
    }


    .author__work{
      line-height: 1.2;
      margin-top: 5px;
      color: #b7b7b7;
      font-size: 12px;
      font-weight: 300;
      @media (min-width: 768px) {
        margin-top: 0px;
        font-size: 14px;
      }
    }

    .time_posted{
    	color: #ccc;
    	font-size: 12px;
    	margin-bottom: 5px;
    	margin-top: 5px;
    }

    .select.form-control:not([size]):not([multiple]){
    	color: white;
    	background-color: transparent;
    	border: none;
    	font-weight: 100;
    	font-size: 18px;
    	margin-top: -3px;
    	
    }



    .input.dropdown_bold{
    	padding: 0 90px;
    	text-align: center;
    	margin-bottom: -25px;
    	@media (min-width: 768px) {
			padding: 0 80px;
    		text-align: center;
    		margin-bottom: -20px;
    	}

    }

    .big_avatar{
    	border-radius: 50%;
		max-width: 50%;
    	
    	@media (min-width: 768px) {
			max-width: 100%;
			padding: 0 20px;  
    	}
    }

    .user_info_wrap{
    	background-color: #d9534f;
    	text-align: center;
    	padding: 40px 20px;
    	&.choose_favors{
    		background-color: transparent;
    		padding: 0;
    	}
    }

    .user_name_big{
    	font-weight: 700;
    	color: white;
    	padding: 15px 15px;
    	font-size: 20px;
    	@media (min-width: 768px) {
			font-size: 24px;  
    	}
    	&.black{
    		color: black;
    	}

    }

    .user_job_big{
    	color: white;
    	font-size: 13px;
    	margin-top: -15px;
    	@media (min-width: 768px) {
			font-size: 15px;
    	}
    }

    .latest_updates{
    	text-transform: uppercase;
    	font-size: 12px;
    	color: #d2cece;
    	font-weight: 100;
    	text-align: center;
    	border-top: 1px solid rgba(221, 221, 221, 0.39);
    	border-bottom: 1px solid rgba(221, 221, 221, 0.39);
    	padding: 7px 0px;
    	margin-bottom: 10px;
    	margin-top: 35px;
    	a{
    	color: #d2cece;
    		
    	}
    	&:hover{
    		color: #f0ad4e;
    		border-top: 1px solid #f0ad4e;
    		border-bottom: 1px solid #f0ad4e;
    	}

    	&.profile{
    		margin-top: 30px;
    		&.plates{
    			margin-bottom: -15px;
    			margin-top: 50px!important;
    		}
    	}

		
    	&.fields{
    		margin-top: 30px;
    		margin-bottom: -10px;
    	}

    }

    ul.dropdown-menu{
  		font-family: "MuseoSans";
  		font-weight: 700;
  		font-size: 14px!important;
  		min-width: 400px!important;
  		color: black;
  		background-color: #FAFAFA !important;
  		border-top: 1px solid #D6D8DA;
  		border-bottom: 1px solid #D6D8DA;
		left: 0!important;
		opacity: 0.98 !important;
		margin-top: 23px;
		border-radius: 0.45rem!important;
		min-width: 300px!important;
		/*padding: 0;
		@media (min-width: 833px) {
	      	padding: 30px;
	    }*/

  		li.main_field_link{
  			margin-top: 5px;
  			margin-right: 0;
  			display: inline-block;
  			margin-left: 30px;
  			border-bottom: none!important;
  			@media (min-width: 833px) {
	      		margin-right: 100px;
	    	}

  		}

  		ul.sub_link {
  			margin-top: 10px;
  			font-size: 13px;
  			font-weight: 300!important;
  			border-left: 1px solid orange;
			border-bottom: none!important;

  			li.sub {
  				text-align: left;
  				color: #ec971f;
  				font-weight: 500;
  				line-height: 15px;
  				display: inline-block;
  				padding-bottom: 5px;
  				border-bottom: none!important;
  			}
  		}
  	
    }

	a.dropdown-toggle{
		color: #050505;
	}
    .users_icon{
    	width: 30px;
    	height: 30px;
    	margin-top: -6px;
    }

	.heading_find_interest{
		font-size: 20px;
		color: #373a3c;
		font-weight: 100;
		line-height: 1.1;
		padding: 0 20px;
		margin-bottom: -15px;
		@media (min-width: 768px) {
			font-size: 24px;
			padding: 0;
			margin-bottom: -10px;

		}
	}

.navbar-default .navbar-toggle .icon-bar {
}

.nav{
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar{
	margin-top: 5px;
	margin-bottom: -8px;
	@media (min-width: 768px) {
		margin-bottom: -8px;
	}
}

.navbar-collapse.collapse.in{
	font-family: "MuseoSans";
	font-weight: 700;
	font-size: 14px!important;
	min-width: 300px!important;
	color: black;
	/*background-color: #FAFAFA !important;*/
	/*border-top: 1px solid #D6D8DA;
	border-bottom: 1px solid #D6D8DA;*/
	left: 0!important;
	/*opacity: 0.98 !important;*/
	margin-top: 2px;
	/*border-radius: 0.45rem!important;*/
	li{
		color: #373a3c;
		margin-bottom: 10px;
		border-bottom:1px solid #ffeacb;

	}
}
button.navbar-toggle{
	margin: 8px;
	background-color: transparent;
	border: none;
	@media(min-width: 833px){
    	display: none;
  	}
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
     margin-bottom: 5px;
    background-color: #373a3c;
}

.ok{
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.delete_img{
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.further_button{
	text-align: center;
}

.chosen_favors{
	font-weight: 100!important;
	ul {
		margin-left: 0px;
		margin-top: 10px;
		font-weight: 100!important;

		li{
			color: white;
			font-size: 12px;
			display: inline-block;
			margin-right: 5px;
			background-color: #6499f1;
			border-radius: 1.25rem;
			padding: 8px 10px;
			margin-bottom: 5px;
		}
	}
}

.rating_wrap{
	text-align: center;
	margin-top: 15px;
	margin-bottom: -20px;

	ul{
		margin-left: 0px;
		li{
			display: inline-block;
		}
	}
}

.rating_field_name{
	a{
		margin-left: 5px;
		color: #6499f1;
	}
	ul{
		margin-left: 0px;
		margin-bottom: -5px;
		li{
			color: #eee;
			font-size: 12px;
			display: inline-block;
			padding-right: 5px;
			margin-bottom: 5px;
		}
		li.percentage{
			margin-right: 10px;
			font-weight: 100!important;
		}
	}
}

.rating_icon{
	width: 20px;
	@media (min-width: 768px) {
		width: 35px;
	}
}

.explain_rating{
	font-weight: 100;
	color: grey;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	@media (min-width: 768px) {
		padding: 20px;
	}
}

.rating_icon_explain{
	width: 30px;
	@media (min-width: 768px) {
		width: 50px;
	}
}

.edit_profile{
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
	background-color: #eee;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 60px;
	padding-left: 60px;
	&.ratings{
		padding-top: 10px;
	}
	
}

.blockquote{
	border-left: 1px solid orange;
}

/*.wysihtml5.optional.input-content.form-control.wysihtml5-editor{
height: 500px;
}*/

textarea[id=layout_content]{
	height:500px;
}

.big_wrap{
	background-color: aliceblue;
	height: 100%;
}

.edit_heading{
	font-size: 18px;
	text-align: center;
	padding-top: 40px;
	margin-bottom: 20px;
	font-weight: 100;
	@media (min-width: 768px) {
		font-size: 24px;
	}
}

.profile_edit{
	margin-left: 220px;
	margin-bottom: -20px;
}

.edit_form_wrap{

}



table.ratings{
	width: 100%;
	border-collapse: collapse;
	tr{
	}
	td{
		width: 50%;
		text-align: left;
		padding-bottom: 0;
		line-height: 0 !important;
	}
	td.name{
		font-weight: 300;
		font-size: 14px;
		color: #e9967a;
		margin-right: 15px;		
	}
	td.percentage{
		display: inline-block;
		margin-left: 10px;
		font-size: 15px;
		color: #d9534f;
		font-weight: 900;
	}
}

.footer{
	border-top: 1px solid #eee;
	text-align: center;
	min-height: 200px;
	padding: 20px;
	background-color: #f7f4f4;
}
.motto{
	color: #373a3c;
	font-weight: 300;
}

.rules{
	ul{
		margin-left: 0;
		li{
			list-style: none;
			display: inline-block;
			font-size: 12px;
			color: #6499f1;
			margin-right: 10px;
		}
	}
}

.footer_logo{
	max-width: 70px;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-top: 10px;
	@media(min-width: 833px){
		max-width: 100px;
    	margin-top: 10px;
    	padding-bottom: 6px;
    	max-width: 85px;
  	}
}

