/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansRegular.eot");
  src: font-url("MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansRegular.woff") format("woff"),
  font-url("MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansBold.eot");
  src: font-url("MuseoSansBold.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansBold.woff") format("woff"),
  font-url("MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansLight.eot");
  src: font-url("MuseoSansLight.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansLight.woff") format("woff"),
  font-url("MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansMedium.eot");
  src: font-url("MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansMedium.woff") format("woff"),
  font-url("MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSans";
  src: font-url("MuseoSansBlack.eot");
  src: font-url("MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
  font-url("MuseoSansBlack.woff") format("woff"),
  font-url("MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

html {
  height: 100%;
  font-family: 'MuseoSans', sans-serif;
}

a:hover {
  background-color: transparent;
}


body {
  background: white;
  color: black;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'MuseoSans', sans-serif;
  	@media(min-width: 768px){
    font-size: 14px;
  	}
}

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 100%
);


.btn{
	border-radius: 1.25rem;
	font-weight: 100;
	color: white;
	background-color: #1BB645;
}

.menu_wrap{
	background-color: white;
	width: 100%;
	text-align: center;
	@media(min-width: 768px){
    	width: 100%;
  	}
}

.top_logo{
	max-width: 100px;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: -10px;
	@media(min-width: 768px){
    	padding-top: 15px;
    	padding-bottom: 6px;
    	max-width: 100px;
  	}
}

.subjects{
	display: inline-block;
	font-weight: 900;
	padding-top: 20px;
	display: none;
	@media (min-width: 768px) {
      padding-top: 20px;
      display: inherit;
    }
}

.logo_wrap{
	margin-left: auto;
	margin-right: auto;
	display: block;
    margin: 0 auto;
	text-align: center;
	margin-left: -10px;
}

.user_wrap{
	display: inline-block;
	font-weight: 900;
	 display: none;
	@media (min-width: 768px) {
      padding-top: 20px;
      display: inherit;
    }
}

.header_wrap {
	background-color: #6499F1;
	max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
	height: 300px;
    @media(min-width: 768px){
    	height: 400px;
		width: 100%;
  	}

}

.header_wrap_small {
	background-color: #E8940B;
	max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
	height: 200px;
    @media(min-width: 768px){
    	height: 200px;
		width: 100%;
  	}
}

.text_wrap{
	max-width: 500px;
    padding-top: 50px;
    margin: 0 auto;
    color: white;
    text-align: center;
    @media(min-width: 768px){
    	padding-top: 65px;
  	}

}

.big_title{
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	@media(min-width: 768px){
    	font-size: 30px;
  	}
}

.section_header_title{
	/*padding-top: 100px;*/
	font-weight: 100;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.2;
	padding-bottom: 20px;
	
}

.medium_decription{
	color: white;
	font-weight: 300;
	font-size: 13px;
	line-height: 1.3;
	padding-right: 20px;
	padding-left: 20px;
	@media(min-width: 768px){
    	font-size: 16px;
  	}
}

.sections_wrap{
	margin-top: 45px;
	text-align: center;
}

.small_sections_wrap{
	margin-top: 45px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.back_wrap{
	text-transform: uppercase;
	font-size: 12px;
	padding-bottom: 10px;
	padding-right: 5px;
	margin: 0 auto;
	a{
	color: #f7f4f4;
	font-weight: 100;	
	}
	img{
		margin-right: 10px;
	}
	
}

.back_icon{
	max-width: 12px;
}

/*.image_back{
	max-width: 100%;
	height: auto;
}*/

.main_section_name{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eee;
	text-transform: uppercase;
	font-weight: 700;
	/*background-image: url('micro');
	background-repeat: no-repeat;
	background-position: center;*/
	border-radius: 10px;
	a{
		color: white;
	}
	/*color: #6499F1;*/
}

.child_section_name{
	font-weight: 700;
	padding-top: 20px;
	a{
		color: #55595c;
	}
}

.child_wrap{
	background-color: #f7f4f4;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.section_main_wrap{
	position: relative;
  	overflow: hidden;
  	height: 100px;
}


.section_image{
	border-radius: 10px;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
}

.section_name{
	a{
		color: white;
		text-transform: uppercase;
		font-weight: 100;
	}
	position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-width: 768px) {
      top: 50%;
    }
}

.main_body{
	padding-top: 6px;
	@media (min-width: 768px) {
      padding-top: 65px;
    }
	
}

.l_sidebar{
	background-color: #5cb85c;
	width: 100%;
	height: 100vh;
	display: inline-block;
	@media (min-width: 768px) {
      width: 25%;
    }
}

.r_main_wrap{
	display: inline-block;
	background-color: #eee;
	width: 100%;
	height: 100vh;
	float: right;
	@media (min-width: 768px) {
      width: 75%;
    }
}

.button_add_layout{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.little_description{
	
	color: rgba(129, 138, 145, 0.82);
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 500px;
	border-left: 1px solid #ddd;
}

.text_block{
	text-align: center;
	margin-top: 60px;
}

.back_wrap_layout{
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 10px;
	padding-right: 5px;
	margin: 0 auto;
	a{
	color: #f7f4f4;
	font-weight: 100;	
	}
	img{
		margin-right: 10px;
	}
	
}

.input-name{
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
}

.input-description{
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 100;
	font-size: 14px;
	min-height: 300px;
	text-align: center;
}

.input-name::-webkit-input-placeholder { color: white;}
.input-name:-moz-placeholder { color: white; }
.input-name::-moz-placeholder { color: white; }
.input-name:-ms-input-placeholder { color: white; }

.input-name:focus{
	background-color: transparent;
	color: white;
}

.input-description::-webkit-input-placeholder { color: white; }
.input-description:-moz-placeholder { color: white; }
.input-description::-moz-placeholder { color: white; }
.input-description:-ms-input-placeholder { color: white; }

.input-description:focus{
	background-color: transparent;
	color: white;
}