// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rules-page {

  .background__img {
    position: fixed;
    width: 1920px;
    left: 50%;
    z-index: -1;
    height: 960px;
    transform: translateX(-50%);
    top: 61px;
  }
  .background__filter {
    z-index: 1;
  }
}




.sign-up__wrap {

	margin-top: 50px;
	width: 100%;
	position: absolute;
	padding-right: 20px;
	padding-left: 20px;
  @media (min-width: 768px) {
    margin-top: 100px;
  }

 	
  .form__wrap {
    background-color: rgba(255,255,255,.9);
    color: black;
    max-width: 350px;
    text-align: center;
    //box-shadow: 0 0 10px 0 #0A0707;
    position: relative;
    z-index: 2;
    padding: 1px 30px;
    margin: 0 auto;
    min-height: 400px;
  }

  .registration_hello{
    font-weight: 500;
    font-size: 15px;
    border-left: 2px #ec971f solid;
    margin-bottom: 40px;
    color: black;
    text-align: center;
    line-height: 1.4;
    padding-left: 30px;
    padding-right: 30px;
  }
  .registration_title{
    font-weight: 800;
    font-size: 20px;
    padding: 36px 15px;
    line-height: 1.1;
  }

  .rules_accepted{
  	font-size: 11px;
  	color: black;
  	padding: 20px;
  }

}
