<div class="container">
<div class="row">
<div class="col-md-12">

<h1>Редактировать отрасль</h1>

<%= render 'form', field: @field %>

<%= link_to 'Show', @field %> |
<%= link_to 'Back', fields_path %>

</div>
</div>
</div>
